.home{
  /* border: 1px solid; */
  /* color: black; */
  /* background-color: wheat; */
  
}

.allowTable, h3 {
  text-align: center;
  /* display: flex;
  justify-content: center; */
  margin: 0 auto;
}
/* .allowTable  */
.viewAllow {
  float: right;
  color:red;
  font-weight: bold;
  margin-right: 30px;
}
.viewAllowOri {
  float: right;
  color:blue;
  font-weight: bold;
  margin-right: 30px;
}
.allowTable, 
.allowTable tr,
.allowTable th,
.allowTable td{
  border: 1px solid pink;
  border-collapse: collapse;
}