.home{
  /* border: 1px solid; */
  /* color: black; */
  /* background-color: wheat; */
  
}

.allowTable, h3 {
  text-align: center;
  /* display: flex;
  justify-content: center; */
  margin: 0 auto;
}
/* .allowTable  */