.header{
  /* border: 1px solid; */
  color: yellow;
  background-color: black;
}
.footer {
  background-color: wheat;
  color: blueviolet;
  text-align: center;
  /* float: left; */
}
.nav {
  background-color: powderblue;
}
.nav ul {
  color: black;
  text-decoration: none;
}
.nav ul {
  list-style: none;
}
.nav li {
  display: inline-block;
  padding: 10px;
}
.mainCss {
  text-align: center;
}
.login-form, .join-form {
  border : solid green 1px;
  border-radius: 3px;
  width: 350px;
  margin : 1px auto;
  padding : 15px;
  text-align: center;
  
  justify-content: center;
}
.login-form input, .join-form input {
  border-radius: 2px;
  float: right;
}
.login-form button, .join-form button {
  background-color: lightseagreen;
  color: white;
  border : solid 1px lightseagreen;
  padding : 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
}


.mainCss {
  border : solid lightgray 1px;
  width: 600px;
  margin : 0 auto;
  border-radius: 3px;
  /* background-color: antiquewhite; */
}
.mainCss .info {
  border : solid blue 1px;
  background-color: antiquewhite;
  border-radius: 3px;
  width: 400px;
  margin: 10px auto;

  /* display: flex;
  justify-content: center; */
}

#grid .right ,#grid .left {
  display: flex; /* 각각 내부 요소를 가로로 배치 */
  gap: 10px; /* 내부 아이템 간 간격 */
}

#grid{
  display: grid;
  grid-template-columns: auto auto; /* 두 개의 열 생성 */
  justify-content: space-between; /* 열 간격을 양 끝으로 정렬 */
  align-items: center; /* 수직 정렬 */
  padding: 0 20px; /* 좌우 여백 */
}